@import "tailwindcss";

@font-face {
  font-family: "Stora";
  src: url("/asset/fonts/Stora-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-poppins: var(--font-poppins);
  --font-sora: var(--font-sora);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-sora {
  font-family: var(--font-sora), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-stora {
  font-family: "Stora", var(--font-montserrat), sans-serif;
}
